<div id="contact">
    <h1 class="Contact"> Contact Us</h1>
    <section class="contact2">
    <p>We would love to hear from you! If you have any questions, comments, or feedback, please feel free to get in touch with us. Our friendly staff is always happy to assist you and provide you with the information you need.</p>

    <form class="contact-form">
        <fieldset>
            <legend>Name</legend>
            <input type="text" id="name" name="name" placeholder="Your name" required>
        </fieldset>
        <br>
        <fieldset>
            <legend>Email</legend>
            <input type="email" placeholder="Your email" required>
        </fieldset>

        <br>
        <fieldset>
            <legend>Message</legend>
            <textarea id="message" name="message" placeholder="Your message" rows="5" required></textarea>
        </fieldset>
        <br>
  <button type="submit">Send Message</button>
</form>
</section>
</div>
