<footer>
  <div class="footer">
  <div class="title">
    <h3>Cake Fantasy</h3>
  </div>
  <!--<div class="social">
    <a class="fa-brands fa-x-twitter"></a>
    <a class="fa-brands fa-facebook"></a>
    <a class="fa-brands fa-instagram"></a>
  </div>-->
  <div class="info">
    <ul>
      <li>
        <h2>Policies</h2>
      </li>
      <li>
        <a>Terms and conditions</a>
      </li>
      <li>
        <a>Privacy Policy</a>
      </li>
      <li>
        <a>Shipping/Delivery Policy</a>
      </li>
      <li>
        <a>Refund Policy</a>
      </li>
    </ul>
    <ul>
      <li>
        <h2>Contact Info</h2>
      </li>
      <li>
        <a>Email: cakefantasy@example.com</a>
      </li>
      <li>
        <a>Tele: (876) 123-4567</a>
      </li>
    </ul>
  </div>


