<div class="juices-container">
    <h1 class="juices-title">Juices</h1>
    <div id="Juices">
        <div class="juice-item">
          <img src="Images/Juices/Chocolate drink.jpg" alt="Chocolate drink" height="200px">
          <p>Chocolate Drink</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="juice-item">
          <img src="Images/Juices/Creeper Rum cream punch.jpg" alt="Creeper Rum punch" height="200px">
          <p>Creeper Rum punch</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="juice-item">
          
          <p>Cucumber Jiuce</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="juice-item">

          <p>Pineapple Juice</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="juice-item">

          <p>Strawberry</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="juice-item">

          <p>Watermelon Jiuce</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
      </div>
    </div>

  <div class="cake-container">
    <h1 class="cake-title">Cake Slices</h1>
      <div id="Cake">
        <div class="cake-item">
          <img src="Images/Cake slices/Cheesecakes.jpg" alt="Cheesecakes" height="200px">
          <p>Cheese Cake</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="cake-item">
          <img src="Images/Cake slices/chocolate.jpg" alt="Chocolate cake" height="200px">
          <p>Chocolate cake</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="cake-item">
          <img src="Images/Cake slices/lemon cake.jpg" alt="lemon cake" height="200px">
          <p>Lemon Cake</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="cake-item">
          <img src="Images/Cake slices/red velvet.jpg" alt="Red velvet" height="200px">
          <p>Red Velvet</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="cake-item">
          <img src="Images/Cake slices/strawberry shortcake.jpg" alt="Strawberry shortcake" height="200px">
          <p>Strawberry shortcake</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
        <div class="cake-item">
          <img src="Images/Cake slices/vanilla slice.jpeg" alt="Vanilla Cake" height="200px">
          <p>Vanilla</p>
          <p>Price</p>
          <p>Add to Cart</p>
        </div>
      </div>
  </div>

  <div class="Ice-cream">
    <h1 class="Icecream-title">Organic Ice-cream</h1>
    <div id="ice-cream">
      <div class="Ice-item">
        <img src="Images/Organic ice cream/chocolate.jpg" alt="Chocolate Ice-cream" height="200px">
        <p>Chocolate Ice-cream</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="Ice-item">
        <img src="Images/Organic ice cream/Cookie n cream.jpg" alt="Cookie n Cream" height="200px">
        <p>Cookie n' Cream</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="Ice-item">
        <img src="Images/Organic ice cream/Mango.jpeg" alt="Mango" height="200px">
        <p>Mango Ice-cream</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="Ice-item">
        <img src="Images/Organic ice cream/rum n raisin.jpeg" alt="Rum n Raisin" height="200px">
        <p>Rum n' Raisin</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="Ice-item">
        <img src="Images/Organic ice cream/strawberry.jpg" alt="Strawberry Ice-cream" height="200px">
        <p>Strawberry Ice-cream</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="Ice-item">
        <img src="Images/Organic ice cream/vanilla.jpg" alt="Vanilla Ice-cream" height="200px">
        <p>Vanilla Ice-cream</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
    </div>
  </div>

  <div class="Mousse">
    <h1 class="mousse-title">Mousse</h1>
    <div id="mousse">
      <div class="mousse-item">
        <img src="Images/Mousse/Chocolate mousse.jpeg" alt="Chocolate mousse" height="200px">
        <p>Chocolate Mousse</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="mousse-item">
        <img src="Images/Mousse/lemon mousse.jpg" alt="lemon mousse" height="200px">
        <p>Lemon Mousse</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
    </div>
  </div>

  <div class="Goodies">
    <h1 class="goodies-title">Goodies</h1>
    <div id="goodies">
      <div class="goodies-items">
        <img src="Images/Goodies/cookie.jpg" alt="Cookie" height="200px">
        <p>Cookie</p>
        <p>Price</p>
        <p>Add to Cart</p>
      </div>
      <div class="goodies-items">
        <img src="Images/Goodies/oatmeal cookie.jpg" alt="oatmeal" height="200px">
      </div>
    </div>
  </div>
