.Title {
    color: rgb(255, 255, 255);
    padding-left: 10px;
}
.Home{
  background-image: url('/assets/Images/Background2(blurred).jpg');
    background-size: cover;
    background-position: center;
    width: 100% ;
    z-index: 1000;
    padding-top: 100px;
}

#home{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding : 70px;
}

.header{
  text-align: right;
    position: relative;
    left: 28%;
    display: block;
    width: 40%;
    height: 90%;
    margin: 40px auto;
    box-shadow: 0% auto rgba(0, 0, 0, 0.37);

}


#about{
    background-color: #ff00cc; /* solid pink */
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    color:#ffffff;
    padding: 85px 20px  20px;
}

.about2{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 20px;
    left: -500px;
    top: 20% auto;
    width: 60%;
    height: 90% auto;
    margin: 40px;
}

.Images{
    color: rgb(0, 0, 0);
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    font-family: monospace;
}


.Lemon{
    display: block;
    left: -500px;
    top: 20% auto;
    width: 50% auto;
    height: 90% auto;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(214, 36, 36, 0.1);
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)rgba(225, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 5px solid rgb(255, 0, 212);
}

.Lemon s a :hover{
  animation: forwards;
}

.Chocolate{
    display: block;
    left: -500px;
    top: 20% auto;
    width: 50% auto;
    height: 90% auto;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(214, 36, 36, 0.1);
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)rgba(225, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 5px solid rgb(255, 0, 212);

}

.Ice-Cream{
    display: block;
    left: -500px;
    top: 20% auto;
    width: 50% auto;
    height: 90% auto;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(214, 36, 36, 0.1);
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)rgba(225, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 5px solid rgb(255, 0, 212);

}

.Services{
    margin: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
.Services a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: rgb(255, 0, 234);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
.Services a:hover{
    background-color: #910091;
}
