 <body>

  <section class="Home">
<div id="home">
              <h1 class="home">Yummy sweeties delivered to your dininer table</h1>
              <p>We serve the most delicious pastries in town.</p>
              <section class="header">
                <img src= {{scr}} alt="Picture of Tina's Cupcake" height="300px">
              </section>




        </div>
        <div class="header">


        </div>
  </section>




        <h1 id="about">Cake Fantasy</h1>
  <section class="about2">
        <p>Cake Fantasy began in 2020 with a simple passion for baking and creating
          delicious sweet treats that bring people together. What started as a
          small home-based project quickly grew into a beloved local bakery, known for
          our handcrafted cakes, pastries, cookies, and more. At Cake Fantasy, we believe
          that baking is both an art and a way to spread joy. Every item we make is crafted
          with care, using high-quality ingredients and time-tested recipes—with a dash of
          creativity and love in every bite. Whether you're celebrating a special occasion,
          looking for the perfect dessert, or just treating yourself,
          Cake Fantasy is here to make your day a little sweeter.
          Come visit us or explore our online store to discover your next favorite treat.</p>
        <p> From our kitchen to your table—baking happiness, one bite at a time.</p>
  </section>

  <div class="Images">
    <section class="Lemon">
      <img src= {{Lemon}} alt= {{name}} height="200px">
    <h3>Lemon Cake</h3>
    </section>

    <section class="Chocolate">
    <img src= {{Cho}} alt= {{name2}} height="200px">
    <h3>Chocolate Drink</h3>
    </section>

    <section class="Ice-Cream">
    <img src= {{RNR}} alt= {{name3}} height="200px">
    <h3>Rum n' Raisin</h3>
    </section>
  </div>

  <section class="Services">
      <p><a routerLink="product">Products</a> </p>
  </section>
</body>


